@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto&display=swap');

/*
Logo color #3aaa35
*/

body {
  background-color: rgb(34, 36, 34);
  color: #fafafa;
}

/************************** General *******************************/

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

hr {
  width: 20%;
  border-color: #218838;
  border-width: 2px;
}

.cta {
    font-family: 'krona One', sans-serif;
    text-shadow: 2px 2px black;
    text-align: center;
}

.btn-success {
  background-color: #3aaa35;
}

/************************** Header / Navigation *******************************/

.navbar {
  padding: 5px;
  background-color:  rgba(34, 36, 34,0.8);
}


.navbar-nav li {
  padding-right: 45px;
}

.nav-link {
  font-size: 20px;
  font-family: 'krona One', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: white !important;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.nav-item a:hover {
    color: #10ad25 !important;
}

/************************** HOME *******************************/

/************************** Hero Image *******************************/
.hero-image {
  background-image: url(../images/hero.jpg);
  height: 80vh;
  width: 100vw;
  background-size: cover;
  margin-top: 80px;
  position: relative;
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {
  .hero-image {
    background-position: -120px 80px;
  }
}

@media screen and (max-width: 415px) {
  .hero-image {
  background-position: -100px 80px;
  background-size:auto;
  }
}


.hero-cta {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-cta h1 {
  font-size: 2rem;
}

.hero-cta p {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .hero-cta h1 {
    font-size: 4rem;
  }
}

/************************** Member Comments *******************************/

.comments {
  margin: 10px 0 10px 0;
}

.comments p {
  padding: 20px 0;
  margin-bottom: 0;
  font-size: 20px;
  color: #000;
}

.carousel-inner .row {
  margin: 0 -80px;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/************************** About *******************************/
.home-image-1 {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.home-image-2 {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.about p {
  font-size: 24px;
  font-family: Roboto, sans-serif;
}



@media screen and (max-width: 800px) {
  .home-image-1 {
    object-fit: cover;
    height: 310px;
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .home-image-1 {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .home-image-2 {
    object-fit: cover;
    height: 310px;
    width: 100%;
    object-position: -150px;
  }
  .about p {
    font-size: 16px;
  }
}

@media screen and (max-width: 415px) {
  .home-image-2 {
    object-fit: cover;
    object-position: -160px;
    height: 300px;
    width: 100%;
  }
}

/************************** CARDS *******************************/

.cards {
  margin-top: 100px;
  margin-bottom: 20px;
}

.card {
  margin: 40px 40px 0px 40px;
  background-color: rgba(34, 36, 34, 0.4);
  border: 0;
}

 /* .card-img-top {

    height: 400;
    object-fit: cover;
} */


.card-body {
  padding: 0 0 5px 0;
  margin-bottom: 20px;
  width: 100%;
}

.card h2 {
  font-family: 'krona One', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fafafa;
}

.card-body a {
  font-family: 'krona One', sans-serif;
  text-align: center;
  color: #fafafa;
  padding: 5px;
  border: 1pt solid #899988;
  letter-spacing: 1px;
  display: block;
}

.card-body p {
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 800px) {
  .card {
    margin: 10px 5px 5px 10px;
  }
}

@media screen and (max-width: 415px) {
  .card {
    margin: 10px 0;
  }
}

/************************** MODALS *******************************/

.modal-content {
  background-color: rgba(34, 36, 34, 0.8);
  color: #fafafa;
}

.modal-header .close {
  color: #fff;
}

/************************** Footer *******************************/

footer {
  background-color:  rgb(34, 36, 34);
  color: #fafafa;
  font-family: 'krona One', sans-serif;
}

.location, .social, .opening-hours  {
  border: 1pt solid #fafafa;
  border-radius: 5%;
}

.address {
  color: #fafafa;
  font-family: 'krona One', sans-serif;
  margin: 20px 0;
  padding: 10px 0 0 10px;
}


.social li a i {
  width: 40px;
  height: 40px;
  padding: 17px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 4px;
  text-align: center;
  color: #fafafa;
  background: black;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.list-inline-item {
  margin: 0 20px;
}

.social li a i:hover {
  color: #10ad25;
}


#opening-hours-table {
  margin: 20px 0;
  font-size: 15px;
}

#opening-hours-table td{
  padding: 10px 15px;
  border: 1px solid #fafafa;
}
